# {{CLIENT_WIKI_NAME}} — Wiki Index

| Page | Path |
|------|------|
| Overview | [[00_overview.md]] |
| Log | [[log.md]] |

## Entities

_(add as created)_

## Playbooks

_(add as created)_

## Decisions

_(add as created)_
